<html>
	<head>
		<title>  Awesome blog!!!</title>
	</head>
	<body>
		<div>
			<h1>Carleen Calvo</h1>
			<h3>Bachelor of Science in Computer Engineering</h3>
			<h3>Pamantasan ng Lungsod ng Maynila</h3>

		</div>
		<div>
    <h1><a href="/">Django Girls Blog</a></h1>
</div>

{% for post in posts %}
    <div>
        <p>published: {{ post.published_date }}</p>
        <h1><a href="">{{ post.title }}</a></h1>
        <p>{{ post.text|linebreaks }}</p>
    </div>
{% endfor %}
		<div>
			<a href= "https://www.facebook.com/carleen.calvo">My Facebook Page</a>
		</div>
		<div>
			<p>Hi there! </p>
			<p>It works! </p>
		<div>
		
	</body>
</html>